# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitignore
*.manifest
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo

# Другие временные файлы
*.exe
*.zip
*.tar.gz